html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans'
}

main {
    position: relative;
    padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }
